@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

$primary-color: #0880AE;
$secondry-color: #7C9CBF;
$primary_text-color: #756F86;
$error-color: #dc3545;
$max-width: 1100px;
$min-width: 360px;
$defFont:'IBM Plex Sans', sans-serif;